# Created by .ignore support plugin (hsz.mobi)
*~
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.idea/
.netlify
/.env
/.pnp.js
/build/API/
/build/Modules.zip
/doc-js/
/doc-sass/
/node_modules/
/port-distances.json
/report.html
/webpack-stats.json
/yarn-error.log
