{
  "cache": true,
  "extends": [
    "stylelint-config-prettier",
    "stylelint-config-twbs-bootstrap/scss",
    "stylelint-prettier/recommended"
  ],
  "plugins": [
    "stylelint-prettier",
    "stylelint-scss"
  ],
  "rules": {
    "indentation": 4,
    "prettier/prettier": true
  }
}
