{
    "cache": true,
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-standard-scss",
        "stylelint-config-twbs-bootstrap",
        "stylelint-prettier/recommended"
    ],
    "plugins": ["stylelint-order", "stylelint-scss", "stylelint-prettier"],
    "rules": {
        "indentation": 4,
        "prettier/prettier": true
    }
}
