[[headers]]
    for = "/fonts/*"
    [headers.values]
        Cache-Control = "max-age=2628000, must-revalidate"

[[headers]]
    for = "/icons/*"
    [headers.values]
        Cache-Control = "max-age=2628000, must-revalidate"

[[headers]]
    for = "/images/*"
    [headers.values]
        Cache-Control = "max-age=2628000, must-revalidate"

[[headers]]
    for = "/*.json"
    [headers.values]
        Expires = "Mon, 13 Aug 2018 10:00:00 GMT" # bash change here

[[headers]]
    for = "/*-pb.json"
    [headers.values]
        Cache-Control = "max-age=50, must-revalidate"