////
/// This file is part of na-map.
/// Colours.
///
/// copyright 2017-18
/// license   http://www.gnu.org/licenses/gpl.html
/// @group    main
/// @author   iB aka Felix Victor
////

// Colour scheme
$primary-colour: rgb(169, 157, 137);
$secondary-colour: rgb(106, 113, 83);

$sat: saturation($primary-colour);
$lit: lightness($primary-colour);
$hue: hue($primary-colour);

$mix-weight: 80%;

@function colour-mixin($colour) {
    @return mix(hsl(hue($colour), $sat, $lit), $colour, $mix-weight);
}

// Palettes
$betty-white: mix(#eee, colour-mixin(#eee), 80);
$blue: colour-mixin(#007bff);
$indigo: colour-mixin(#6610f2);
$purple: colour-mixin(#6f42c1);
$pink: colour-mixin(#e83e8c);
$red: colour-mixin(#dc3545);
$red-dark: colour-mixin(saturate(darken(#dc3545, 40%), 60%));
$orange: colour-mixin(#fd7e14);
$yellow: colour-mixin(#ffc107);
$green: colour-mixin(#28a745);
$green-dark: colour-mixin(saturate(darken(#28a745, 40%), 60%));
$teal: colour-mixin(#20c997);
$cyan: colour-mixin(#17a2b8);

$gray-dark: mix(#343a40, colour-mixin(#343a40), 60);
$gray: mix(#495057, colour-mixin(#495057), 60);
$gray-light: mix(#6c757d, colour-mixin(#6c757d), 60);
$gray-lighter: mix(#ced4da, colour-mixin(#ced4da), 60);
$gray-lightest: mix(#f8f9fa, colour-mixin(#f8f9fa), 60);

$white: mix(#fff, colour-mixin(#fff), 80);
$gray-100: mix(#f8f9fa, colour-mixin(#f8f9fa), 100);
$gray-200: mix(#e9ecef, colour-mixin(#e9ecef), 60);
$gray-300: mix(#dee2e6, colour-mixin(#dee2e6), 60);
$gray-400: mix(#ced4da, colour-mixin(#ced4da), 60);
$gray-500: mix(#adb5bd, colour-mixin(#adb5bd), 60);
$gray-600: mix(#6c757d, colour-mixin(#6c757d), 60);
$gray-700: mix(#495057, colour-mixin(#495057), 60);
$gray-800: mix(#343a40, colour-mixin(#343a40), 60);
$gray-900: mix(#212529, colour-mixin(#212529), 60);
$black: mix(#000, colour-mixin(#000), 95);

//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;

$theme-colors: (
    "primary": $primary-colour,
    "secondary": $secondary-colour,
    "success": $green-dark,
    "info": $blue,
    "warning": $orange,
    "danger": $red-dark,
    "foreground": $gray-light,
    "background": $betty-white
);

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

$theme-color-interval: 8% !default;

@function theme-color-level($color-name: "primary", $level: 0) {
    $color: theme-color($color-name);
    $color-base: if($level > 0, #000, #fff);

    @if $level < 0 {
        // Lighter values need a quick double negative for the Sass math to work
        @return mix($color-base, $color, $level * -1 * $theme-color-interval);
    } @else {
        @return mix($color-base, $color, $level * $theme-color-interval);
    }
}

$primary: theme-color-level("primary", 0) !default;
$primary-050: theme-color-level("primary", -10);
$primary-100: theme-color-level("primary", -8) !default;
$primary-200: theme-color-level("primary", -6) !default;
$primary-300: theme-color-level("primary", -4) !default;
$primary-400: theme-color-level("primary", -2) !default;
$primary-500: $primary !default;
$primary-600: theme-color-level("primary", 2) !default;
$primary-700: theme-color-level("primary", 4) !default;
$primary-800: theme-color-level("primary", 6) !default;
$primary-900: theme-color-level("primary", 8) !default;

$secondary: theme-color-level("secondary", 0);
$secondary-050: theme-color-level("secondary", -10);
$secondary-100: theme-color-level("secondary", -8);
$secondary-200: theme-color-level("secondary", -6);
$secondary-300: theme-color-level("secondary", -4);
$secondary-400: theme-color-level("secondary", -2);
$secondary-500: $secondary;
$secondary-600: theme-color-level("secondary", 2);
$secondary-700: theme-color-level("secondary", 4);
$secondary-800: theme-color-level("secondary", 6);
$secondary-900: theme-color-level("secondary", 8);

$foreground: theme-color-level("foreground", 0) !default;
$foreground-050: theme-color-level("foreground", -10);
$foreground-100: theme-color-level("foreground", -8) !default;
$foreground-200: theme-color-level("foreground", -6) !default;
$foreground-300: theme-color-level("foreground", -4) !default;
$foreground-400: theme-color-level("foreground", -2) !default;
$foreground-500: $foreground !default;
$foreground-600: theme-color-level("foreground", 2) !default;
$foreground-700: theme-color-level("foreground", 4) !default;
$foreground-800: theme-color-level("foreground", 6) !default;
$foreground-900: theme-color-level("foreground", 8) !default;

$background: theme-color-level("background", 0);
$background-050: theme-color-level("background", -10);
$background-100: theme-color-level("background", -8);
$background-200: theme-color-level("background", -6);
$background-300: theme-color-level("background", -4);
$background-400: theme-color-level("background", -2);
$background-500: $background;
$background-600: theme-color-level("background", 2);
$background-700: theme-color-level("background", 4);
$background-800: theme-color-level("background", 6);
$background-900: theme-color-level("background", 8);

$success: theme-color-level("success", 0) !default;
$info: theme-color-level("info", 0) !default;
$warning: theme-color-level("warning", 0) !default;
$danger: theme-color-level("danger", 0) !default;
