////
/// This file is part of na-map.
/// Colours.
///
/// copyright 2017, 2018, 2019
/// license   http://www.gnu.org/licenses/gpl.html
/// @group    main
/// @author   iB aka Felix Victor
////

@import "functions";

// Colour scheme
// Photoshop water #8e8473 (primary-600)
// Photoshop land #c0c5b0
$primary-colour: rgb(169, 157, 137);
$primary: $primary-colour;
$secondary-colour: rgb(106, 113, 83);
$secondary: $secondary-colour;

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150;

$sat: saturation($primary-colour);
$lit: lightness($primary-colour);
$hue: hue($primary-colour);

$mix-weight: 20%;

// Base colours
$gray: colour-mixin(#adb5bd);
$white: mix(white, colour-mixin(white), 90);
$gray-050: tint-color($gray, 10);
$gray-100: tint-color($gray, 8);
$gray-200: tint-color($gray, 6);
$gray-300: tint-color($gray, 4);
$gray-400: tint-color($gray, 2);
$gray-500: $gray;
$gray-600: shade-color($gray, 2);
$gray-700: shade-color($gray, 4);
$gray-800: shade-color($gray, 6);
$gray-900: shade-color($gray, 8);
$black: mix(#000, colour-mixin(#000), 80);

$grays: (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
);

$blue: colour-mixin(#0d6efd);
$indigo: colour-mixin(#6610f2);
$purple: colour-mixin(#6f42c1);
$pink: colour-mixin(#d63384);
$red: colour-mixin(#dc3545);
$orange: colour-mixin(#fd7e14);
$yellow: colour-mixin(#ffc107);
$green: colour-mixin(#28a745);
$teal: colour-mixin(#20c997);
$cyan: colour-mixin(#17a2b8);

$primary-050: tint-color($primary, 10);
$primary-100: tint-color($primary, 8);
$primary-200: tint-color($primary, 6);
$primary-300: tint-color($primary, 4);
$primary-400: tint-color($primary, 2);
$primary-500: $primary;
$primary-600: shade-color($primary, 2);
$primary-700: shade-color($primary, 4);
$primary-800: shade-color($primary, 6);
$primary-900: shade-color($primary, 8);

$secondary-050: tint-color($secondary, 10);
$secondary-100: tint-color($secondary, 8);
$secondary-200: tint-color($secondary, 6);
$secondary-300: tint-color($secondary, 4);
$secondary-400: tint-color($secondary, 2);
$secondary-500: $secondary;
$secondary-600: shade-color($secondary, 2);
$secondary-700: shade-color($secondary, 4);
$secondary-800: shade-color($secondary, 6);
$secondary-900: shade-color($secondary, 8);

$blue-100: tint-color($blue, 8);
$blue-200: tint-color($blue, 6);
$blue-300: tint-color($blue, 4);
$blue-400: tint-color($blue, 2);
$blue-500: $blue;
$blue-600: shade-color($blue, 2);
$blue-700: shade-color($blue, 4);
$blue-800: shade-color($blue, 6);
$blue-900: shade-color($blue, 8);

$indigo-100: tint-color($indigo, 8);
$indigo-200: tint-color($indigo, 6);
$indigo-300: tint-color($indigo, 4);
$indigo-400: tint-color($indigo, 2);
$indigo-500: $indigo;
$indigo-600: shade-color($indigo, 2);
$indigo-700: shade-color($indigo, 4);
$indigo-800: shade-color($indigo, 6);
$indigo-900: shade-color($indigo, 8);

$purple-100: tint-color($purple, 8);
$purple-200: tint-color($purple, 6);
$purple-300: tint-color($purple, 4);
$purple-400: tint-color($purple, 2);
$purple-500: $purple;
$purple-600: shade-color($purple, 2);
$purple-700: shade-color($purple, 4);
$purple-800: shade-color($purple, 6);
$purple-900: shade-color($purple, 8);

$pink-100: tint-color($pink, 8);
$pink-200: tint-color($pink, 6);
$pink-300: tint-color($pink, 4);
$pink-400: tint-color($pink, 2);
$pink-500: $pink;
$pink-600: shade-color($pink, 2);
$pink-700: shade-color($pink, 4);
$pink-800: shade-color($pink, 6);
$pink-900: shade-color($pink, 8);

$red-100: tint-color($red, 8);
$red-200: tint-color($red, 6);
$red-300: tint-color($red, 4);
$red-400: tint-color($red, 2);
$red-500: $red;
$red-600: shade-color($red, 2);
$red-700: shade-color($red, 4);
$red-800: shade-color($red, 6);
$red-900: shade-color($red, 8);

$orange-100: tint-color($orange, 8);
$orange-200: tint-color($orange, 6);
$orange-300: tint-color($orange, 4);
$orange-400: tint-color($orange, 2);
$orange-500: $orange;
$orange-600: shade-color($orange, 2);
$orange-700: shade-color($orange, 4);
$orange-800: shade-color($orange, 6);
$orange-900: shade-color($orange, 8);

$yellow-100: tint-color($yellow, 8);
$yellow-200: tint-color($yellow, 6);
$yellow-300: tint-color($yellow, 4);
$yellow-400: tint-color($yellow, 2);
$yellow-500: $yellow;
$yellow-600: shade-color($yellow, 2);
$yellow-700: shade-color($yellow, 4);
$yellow-800: shade-color($yellow, 6);
$yellow-900: shade-color($yellow, 8);

$green-100: tint-color($green, 8);
$green-200: tint-color($green, 6);
$green-300: tint-color($green, 4);
$green-400: tint-color($green, 2);
$green-500: $green;
$green-600: shade-color($green, 2);
$green-700: shade-color($green, 4);
$green-800: shade-color($green, 6);
$green-900: shade-color($green, 8);

$teal-100: tint-color($teal, 8);
$teal-200: tint-color($teal, 6);
$teal-300: tint-color($teal, 4);
$teal-400: tint-color($teal, 2);
$teal-500: $teal;
$teal-600: shade-color($teal, 2);
$teal-700: shade-color($teal, 4);
$teal-800: shade-color($teal, 6);
$teal-900: shade-color($teal, 8);

$cyan-100: tint-color($cyan, 8);
$cyan-200: tint-color($cyan, 6);
$cyan-300: tint-color($cyan, 4);
$cyan-400: tint-color($cyan, 2);
$cyan-500: $cyan;
$cyan-600: shade-color($cyan, 2);
$cyan-700: shade-color($cyan, 4);
$cyan-800: shade-color($cyan, 6);
$cyan-900: shade-color($cyan, 8);

$red-light: $red-200;
$red-dark: $red-800;
$green-light: $green-200;
$green-dark: $green-800;

$success: $green-dark;
$info: $blue;
$warning: $orange;
$danger: $red-dark;

$light: $primary-050;
$dark: $primary-900;

$yiq-text-dark: $primary-900;
$yiq-text-light: $primary-050;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);

$primarys: (
        "050": $primary-050,
        "100": $primary-100,
        "200": $primary-200,
        "300": $primary-300,
        "400": $primary-400,
        "500": $primary-500,
        "600": $primary-600,
        "700": $primary-700,
        "800": $primary-800,
        "900": $primary-900
);

$secondarys: (
        "050": $secondary-050,
        "100": $secondary-100,
        "200": $secondary-200,
        "300": $secondary-300,
        "400": $secondary-400,
        "500": $secondary-500,
        "600": $secondary-600,
        "700": $secondary-700,
        "800": $secondary-800,
        "900": $secondary-900
);

$colors: (
        "blue": $blue,
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "red-light": $red-light,
        "red-dark": $red-dark,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "green-light": $green-light,
        "green-dark": $green-dark,
        "teal": $teal,
        "cyan": $cyan,
        "white": $white,
        "gray": $gray-500,
        "gray-dark": $gray-900,
        "black": $black

);
