////
/// This file is part of na-map.
/// Display.
///
/// copyright 2017-18
/// license   http://www.gnu.org/licenses/gpl.html
/// @group    main
/// @author   iB aka Felix Victor
////

$background-colour: $primary-500 !default;
$paddingHalf: map-get($spacers, 2) !default;
$paddingThird: map-get($spacers, 1) !default;

// opentype

body {
    font-variant-alternates: styleset(ss18); // (needs also calt)
    font-kerning: normal;
    font-variant-caps: normal;
    font-variant-ligatures: common-ligatures contextual; // liga calt
    font-variant-numeric: oldstyle-nums; // onum
}

table,
.page-link {
    font-variant-numeric: normal; // onum off
}

.fraction {
    font-variant-numeric: diagonal-fractions;
}

.super {
    font-variant-position: super;
    font-feature-settings: "sups";
}

@mixin caps {
    font-variant-caps: all-small-caps;
    letter-spacing: .08em;
}

.caps,
.des {
    @include caps;
}

.des {
    position: relative;
    top: -.4rem;
    font-size: small;
    color: $secondary-700;
}

#na-svg {
    background-color: $background-colour;
}

text {
    cursor: default;
}

.position-circle {
    fill-opacity: .4;
    fill: $white;
}

.position-path {
    fill: $green;
    fill-opacity: .6;
}

.card {
    border: none;
}

.card-header {
    background-color: $secondary-200;
    border-bottom: none;
}

.card-body {
    background-color: $secondary-100;

    .table {
        margin-bottom: 0;
    }
}

table tr,
p {
    text-align: left;
}

.table {
    thead th {
        font-weight: 400;
    }

    td {
        vertical-align: top;
        border-top: none;
    }

    td:first-child,
    th:first-child {
        padding-left: 0;
    }

    td:last-child,
    th:last-child {
        padding-right: 0;
    }
}

p a,
table a {
    text-decoration: underline dotted $secondary-600 !important;
    @include hover-focus {
        text-decoration-style: solid !important;
    }
}

.ship-base,
.ship-compare {
    .block {
        padding: 0 $paddingThird;
    }

    .small {
        padding: $paddingThird 0;
    }
}

.ship-base {
    .light {
        background-color: $primary-100;
    }
}

.ship-compare {
    .light {
        background-color: $secondary-100;
    }
}

.blueprint {
    table {
        td + td {
            text-align: right;
        }
    }
}

.modules,
.ingredients,
.buildings .requirements {
    table {
        thead {
            background-color: $secondary-100;
        }

        td {
            padding-top: $paddingHalf;
            padding-bottom: $paddingHalf;
        }

        tbody {
            tr:nth-of-type(odd) {
                background-color: $primary-100;
            }

            tr:nth-of-type(even) {
                background-color: $primary-050;
            }
        }

        .name {
            font-style: italic;
        }
    }
}

.buildings .requirements table {
    width: auto;

    th,
    td {
        padding-right: $paddingHalf;
    }

    td {
        text-align: right;
    }
}

.wood table tbody {
    td + td {
        text-align: right;
    }

    td:nth-child(1) {
        width: 50%;
    }

    td:nth-child(2) {
        width: 50%;
    }
}

.bubble {
    fill-opacity: .7;
}

.here {
    fill: $white;
}

.both {
    fill: $blue;
}

.pos {
    fill: $green;
}

.neg {
    fill: $red;
}

.gun-decks {
    height: 83px;
}

.badge {
    padding-top: .15rem;
}

.mm {
    color: $red;
}

.pp {
    color: $green;
}

.profile {
    text {
        fill: $primary-900;
        text-anchor: middle;
    }

    path .base,
    circle .base {
        opacity: .5;
        fill: $primary-500;
    }

    path .comp {
        opacity: .5;
        fill: none;
        stroke-width: 3px;
        stroke: $secondary-500;
    }

    .centroid-base {
        fill: $secondary-700;
    }

    .centroid-comp {
        fill: $primary-700;
    }
}

.columnA {
    background-color: $primary-050;
    font-variant-numeric: normal; // onum off
}

.columnC {
    background-color: $secondary-050;
    font-variant-numeric: normal; // onum off
}

.knots-circle {
    fill: none;
    stroke: $primary-500;
}

.knots-text {
    fill: $primary-600 !important;
}

.solidArc {
    transition: all .3s;

    &:hover {
        fill: orangered;
    }
}

.aster-score {
    line-height: 1em;
    text-anchor: middle;
    dominant-baseline: central;
}

.outlineArc {
    fill: none;
    stroke: $primary-200;
}

#input-toggle {
    display: flex;

    .item {
        padding-right: 1em;
    }
}

.extralarge-width {
    min-width: 25em;
}

.large-width {
    min-width: 18em;
}

.left-margin {
    margin-left: 15px;
}

.box {
    background-color: $primary-100;
}

.compass-arc path {
    stroke: $primary-500;
}

.coord {
    svg {
        overflow: auto;
    }

    circle {
        fill: $secondary-600;
        fill-opacity: .2;
    }

    text {
        fill: $secondary-900;
        text-anchor: middle;
        dominant-baseline: central;

        &.des {
            fill: $secondary-800 !important;
        }
    }

    rect {
        fill: rgba($primary-100, .8);
    }

    path {
        fill: none;
        stroke: $secondary-600;
        stroke-width: .3rem;
    }

    .label {
        text {
            text-anchor: start;
        }

        circle {
            fill-opacity: 1;
            cursor: pointer;
        }

        .drag-active {
            stroke: $secondary-100;
            stroke-width: .25rem;
        }

        .drag-hidden {
            fill-opacity: 0;
        }

        .drag-hidden.drag-active {
            stroke-width: 0;
        }
    }
}

.compass {
    circle,
    line {
        stroke: $secondary-400;
        stroke-width: .1rem;
    }

    text {
        fill: $secondary-600;
        text-anchor: middle;
        dominant-baseline: central;
    }
}

.small {
    circle,
    line {
        stroke: $secondary-400;
        stroke-width: .05rem;
    }

    path {
        stroke-width: .15rem;
    }
}

.port-names {
    fill: $white;
}

.port-name {
    font-size: x-large;
    @include caps;
    font-variant-numeric: normal;
}

.port circle {
    cursor: pointer;
}

.non-trading {
    font-style: italic;
}

.pb {
    fill-opacity: .6;
    stroke-width: .5px;
    stroke-opacity: 1;
}

.pb-circle {
    fill: $primary-300;
    stroke: $primary-600;
}

.fort {
    fill: darken($red, 20);
    stroke: darken($red, 20);
}

.tower {
    fill: $secondary-600;
    stroke: $secondary-600;
}

.join-circle {
    fill: $secondary-300;
    fill-opacity: .4;
    stroke: $secondary-500;
    stroke-width: 1px;
}

.label-rect {
    fill: transparent;
}

.f11 {
    line-height: 1;
    background-color: transparent;

    circle {
        fill: $secondary-600;
        fill-opacity: .5;
    }

    text {
        fill: $secondary-800;
        text-anchor: middle;
        dominant-baseline: central;

        & .des {
            fill: $secondary-700 !important;
        }
    }

    rect {
        fill: $primary-100;
        fill-opacity: .7;
    }

    path {
        fill: none;
        stroke: $secondary-600;
        stroke-width: .3em;
    }
}

.f11 {
    circle {
        fill: $secondary-900;
        fill-opacity: 1;
    }

    text {
        fill: $secondary-900;
        text-anchor: end;
    }
}

.summary text {
    text-anchor: start;
}

.course-head {
    fill: $secondary-600 !important;
}

.wind-head {
    fill: $secondary-600 !important;
}

.trade-link {
    fill: none;
    stroke: $white;
}

.highlight {
    stroke: $green;
}

.trade-label {
    fill: $white;
    text-anchor: middle;
}

.trade-head {
    fill: $white;
}

.wind {
    stroke: $secondary-600 !important;
}

.wind,
.wind-text {
    text-anchor: middle !important;
}

.wind-text-current {
    font-size: smaller;
    fill: $secondary-600 !important;
}

.trades {
    .link {
        fill: none;
    }
}

.profile {
    line {
        opacity: .3;
        fill: none;
        stroke: $secondary-600;
        stroke-width: .5em;
    }
}

.tooltip {
    font-size: smaller;
    text-align: left;
    box-shadow: 0 14px 28px rgba($primary-900, .25), 0 10px 10px rgba($primary-900, .22);

    table {
        margin-bottom: 0;
    }
}

.tooltip-inner {
    min-width: 30rem;
}

.tooltip-small {
    min-width: 20rem !important;
}

.flag-icon {
    width: 2rem;
    height: 100%;
    margin-right: .4rem;
}

// contrast function
// https://lnikki.la/articles/sass-better-colour-based-on-brightness/

@function contrast-luma($c) {
    $-local-red: red(rgba($c, 1));
    $-local-green: green(rgba($c, 1));
    $-local-blue: blue(rgba($c, 1));

    @return (.2126 * $-local-red + .7152 * $-local-green + .0722 * $-local-blue) / 255;
}

@function contrast-color($bg, $c1: $white, $c2: $primary-900) {
    $bg-luma: contrast-luma($bg);
    $c1-luma: contrast-luma($c1);
    $c2-luma: contrast-luma($c2);

    $c1-diff: abs($bg-luma - $c1-luma);
    $c2-diff: abs($bg-luma - $c2-luma);

    @if $c1-diff > $c2-diff {
        @return $c1;
    } @else {
        @return $c2;
    }
}

.rate {
    display: flex;

    .bar {
        position: relative;
        top: 0;
        float: left;
        height: 1.618rem;
    }

    .basis {
        @include colour($primary-600);
    }

    .pos {
        @include colour($green);
    }

    .neg {
        @include colour($red);
    }

    .diff {
        opacity: .4;
    }
}

.county,
.region {
    font-feature-settings: "c2sc", "smcp";

    fill: $secondary-900;
    text-anchor: middle;
}

.region {
    font-size: 160px;
    letter-spacing: 1rem;
}

.county {
    font-size: 60px;
    letter-spacing: .6rem;
}

// https://stackoverflow.com/questions/44467377/bootstrap-4-multilevel-dropdown-inside-navigation/48953349#48953349
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.tablesort {
    th [role="columnheader"]:not(.no-sort) {
        cursor: pointer;
    }

    th [role="columnheader"]:not(.no-sort)::after {
        float: right;
        margin-top: 7px;
        visibility: hidden;
        content: "";
        user-select: none;
        border-color: $primary-600 transparent;
        border-style: solid;
        border-width: 0 4px 4px;
        opacity: 0;
    }

    th [aria-sort="ascending"]:not(.no-sort)::after {
        border-width: 4px 4px 0;
        border-bottom: none;
    }

    th [aria-sort]:not(.no-sort)::after {
        visibility: visible;
        opacity: .4;
    }

    th [role="columnheader"]:not(.no-sort):hover::after {
        visibility: visible;
        opacity: 1;
    }
}

.hidden {
    visibility: hidden;
}

.timelines-chart {
    padding-bottom: 3rem;
    text-align: center;
    user-select: none;

    .axises {
        .x-axis,
        .x-grid,
        .y-axis,
        .grp-axis {
            font-family: $font-family-base !important;
        }

        line,
        path {
            stroke: $primary-700;
        }

        .x-axis {
            font-size: 12px;
        }

        .x-grid line {
            stroke: $primary-200;
        }

        .y-axis,
        .grp-axis {
            line,
            path {
                stroke: none;
            }

            text {
                fill: $primary-700;
            }
        }
    }

    .series-group {
        fill-opacity: .6;
        stroke: $primary-700;
        stroke-opacity: .2;
    }

    .series-segment {
        stroke: none;
    }

    .series-group,
    .series-segment {
        cursor: crosshair;
    }

    .legend {
        .legendText {
            fill: $body-color;
        }
    }

    .reset-zoom-btn {
        cursor: pointer;
        opacity: .6;
        fill: $primary-600;
    }
}

.brusher {
    .grid-background {
        fill: $primary-200;
    }

    .axis {
        font-family: $font-family-base !important;

        path {
            display: none;
        }
    }

    .tick text {
        text-anchor: middle;
    }

    .grid {
        line,
        path {
            stroke: $primary-100;
        }
    }
}

.chart-zoom-selection,
.brusher .brush .selection {
    fill: $primary-700;
    stroke: $primary-700;
    stroke-opacity: .6;
    fill-opacity: .3;
    shape-rendering: crispEdges;
}

.chart-tooltip {
    z-index: 4000;
    padding: 5px;
    font-size: 11px;
    color: $body-color;
    background: $primary-200;
    @include border-radius(3px);

    &.group-tooltip {
        font-size: 14px;
    }

    &.line-tooltip {
        font-size: 13px;
    }

    &.segment-tooltip {
        text-align: center;
    }
}

.area {
    .area-label {
        fill-opacity: .7;
        fill: $white;
    }

    path {
        stroke-opacity: .4;
        stroke: $white !important;
        stroke-width: 2px;
    }
}

.bootstrap-select > .dropdown-toggle.bs-placeholder {
    color: $navbar-light-color;
}

.dropdown-header {
    font-size: smaller;
}

.central {
    width: 0;
    height: 0;
}

.flex-overlay {
    display: flex;
    flex-direction: row;
}

.wind-predict {
    order: 2;
    margin-right: auto;
}

.toasts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    order: 3;
    margin: 0 1rem;
}

.summary-column {
    display: flex;
    flex-direction: column;
    order: 4;
    width: 23vw;
    min-width: 240px;
    max-width: 320px;
    pointer-events: none;
}

.block {
    padding: $paddingHalf;
}

.port-summary,
.journey-summary {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-around;
    padding: $paddingHalf;
    pointer-events: all;
    background: rgba($primary-200, .8);

    .des {
        top: 0;
    }

    button {
        margin-bottom: map-get($spacers, 2);
    }
}

.inventory,
.trade-details {
    flex: 1 1 auto;
    flex-direction: column;
    overflow-y: scroll;
    pointer-events: all;
    background: rgba($primary-100, .8);

    .bootstrap-select {
        padding: $paddingHalf;
    }
}

.trade-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: $spacer;

    .block:nth-of-type(odd) {
        background: rgba($primary-400, .3);
    }
}

.trade-list .block,
.tooltip-block {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    white-space: nowrap;

    & > div {
        padding: 0 $paddingThird;
    }
}

.tooltip-block {
    max-width: 30rem;
    text-align: left;
}

.block-block {
    display: flex;
    flex-direction: column;

    span {
        padding-bottom: $paddingThird;
        font-style: italic;
    }
}

svg {
    .axis {
        pointer-events: none;
    }
}

.axis {
    .domain {
        display: none;
    }

    line {
        stroke: $primary-600;
    }

    text {
        font-style: italic;
    }

    rect {
        fill: $primary-100;
        fill-opacity: .2;
    }
}

.axis-y {
    order: 1;
}

.axis-x,
.axis-y {
    position: absolute;
    pointer-events: none;
    user-select: none;
}
