////
/// This file is part of na-map.
/// Display.
///
/// copyright 2017, 2018, 2019
/// license   http://www.gnu.org/licenses/gpl.html
/// @group    main
/// @author   iB aka Felix Victor
////

$background-colour: $primary-600;
$padding-half: map-get($spacers, 2);
$padding-third: map-get($spacers, 1);

$dark-overlay-background-colour: $primary-800;
$dark-overlay-background-colour-contrast: $primary-700;
$dark-overlay-background: rgba($dark-overlay-background-colour, 0.8);
$dark-overlay-background-contrast: rgba($dark-overlay-background-colour-contrast, 0.8);
$dark-overlay-text-colour-contrast: $primary-200;
$dark-overlay-text-colour: color-yiq($dark-overlay-background);

$overlay-background-colour: $primary-200;
$overlay-background-colour-contrast: $primary-050;
$overlay-background: rgba($overlay-background-colour, 0.8);
$overlay-background-contrast: rgba($overlay-background-colour-contrast, 0.8);
$overlay-text-colour-contrast: $primary-700;
$overlay-text-colour: color-yiq($overlay-background);

// opentype

body {
    font-variant-alternates: styleset(ss18); // (needs also calt)
    font-kerning: normal;
    font-variant-caps: normal;
    font-variant-ligatures: common-ligatures contextual; // liga calt
    font-variant-numeric: oldstyle-nums; // onum
}

table,
.page-link {
    font-variant-numeric: normal; // onum off
}

.fraction {
    font-variant-numeric: diagonal-fractions;
}

.super {
    font-variant-position: super;
    font-feature-settings: "sups";
}

@mixin caps {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.08em;
}

@mixin des {
    position: relative;
    top: -0.4rem;
    font-size: small;
}

.des {
    @include des();
}

.caps,
.des {
    @include caps();
}

.card-table {
    margin-bottom: 0;
    white-space: nowrap;
}

#na-svg {
    background-color: $background-colour;
}

text {
    cursor: default;
}

.position {
    path {
        fill: $green;
        fill-opacity: 0.6;
    }
}

.blueprint {
    table {
        td + td {
            text-align: right;
        }
    }
}

.modules,
.ingredients,
.buildings .requirements {
    table {
        thead {
            background-color: $secondary-100;
        }

        tbody {
            tr:nth-of-type(odd) {
                background-color: $primary-100;
            }

            tr:nth-of-type(even) {
                background-color: $primary-050;
            }
        }

        .name {
            font-style: italic;
        }
    }
}

.buildings .requirements table {
    width: auto;

    th,
    td {
        padding-right: $padding-third;
    }

    td {
        text-align: right;
    }
}

.wood table {
    thead {
        background-color: $secondary-100;
    }

    tbody {
        td + td {
            text-align: right;
        }

        td:nth-child(1) {
            width: 50%;
        }

        td:nth-child(2) {
            width: 50%;
        }
    }
}

.gun-decks {
    height: 83px;
}

.badge {
    padding-top: 0.15rem;
}

.mm {
    color: $red;
}

.pp {
    color: $green;
}

#input-toggle {
    display: flex;

    .item {
        padding-right: 1em;
    }
}

.extralarge-width {
    min-width: 25em;
}

.large-width {
    min-width: 18em;
}

.left-margin {
    margin-left: 15px;
}

.box {
    background-color: $primary-100;
}

.summary text {
    text-anchor: start;
}

.flag-icon {
    width: 2rem;
    height: 100%;
    margin-right: 0.4rem;
}

.rate {
    display: flex;

    .bar {
        position: relative;
        top: 0;
        float: left;
        height: 1.618rem;
    }

    .basis {
        @include colour($primary-600);
    }

    .pos {
        @include colour($green-dark);
    }

    .neg {
        @include colour($red-dark);
    }

    .diff {
        opacity: 0.5;
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -$dropdown-spacer;
}

.area {
    .area-label {
        fill-opacity: 0.7;
        fill: $white;
    }

    path {
        stroke-opacity: 0.4;
        stroke: $white !important;
        stroke-width: 2px;
    }
}

.central {
    width: 0;
    height: 0;
}

.overlay {
    display: grid;
    pointer-events: none;
}

.overlay-grid {
    grid-template-rows: 3rem 1fr;
    grid-template-columns: 4rem 1fr 4fr 23vw;
    grid-template-areas:
        "x-axis x-axis x-axis x-axis"
        "y-axis wind-predict toasts summary";
}

.overlay-no-grid {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr 23vw;
    grid-template-areas: "wind-predict toasts summary";
}

.overlay-grid::before // acts as axis-rect-x
{
    content: "";
    grid-area: x-axis;
    grid-column: 1 / 5;
    grid-row: 1;
    background: rgba($primary-200, 0.4);
}

.overlay-grid::after // acts as axis-rect-y
{
    content: "";
    grid-area: y-axis;
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    background: rgba($primary-200, 0.4);
}

.wind-predict-column {
    grid-area: wind-predict;
    margin-right: auto;
}

.toast-column {
    grid-area: toasts;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.summary-column {
    grid-area: summary;
    display: grid;
    grid-template-rows: 6rem 1fr;
}

.block {
    padding: $padding-third;
    justify-self: center;
}

.port-summary {
    //grid-template-columns: 1fr 1fr 1fr;
}

.journey-summary {
    //grid-template-columns: auto auto auto;
}

.port-summary,
.journey-summary {
    display: grid;
    align-items: center;
    padding: $padding-third;
    line-height: 1;
    color: $overlay-text-colour;
    pointer-events: all;
    background-color: $overlay-background;
    button {
        margin-bottom: map-get($spacers, 2);
    }
}

.port-summary-no-wind,
.journey-summary {
    grid-template-columns: repeat(3, 1fr);
}

.port-summary-wind {
    grid-template-columns: repeat(4, 1fr);
}

.inventory,
.trade-details {
    flex: 1 1 auto;
    flex-direction: column;
    overflow-y: scroll;
    color: $overlay-text-colour;
    pointer-events: all;
    background: $overlay-background;

    .bootstrap-select {
        padding: $padding-third;
    }

    .card {
        background: $overlay-background;
    }
}

.trade-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: $spacer;

    .block:nth-of-type(odd) {
        background: $overlay-background-contrast;
    }

    .des {
        color: $overlay-text-colour-contrast;
    }
}

.trade-list .block,
.tooltip-block {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    white-space: nowrap;

    & > div {
        padding: 0 $padding-third;
    }
}

.trade-link {
    fill: none;
    stroke: $dark-overlay-text-colour;
}

.highlight {
    stroke: $green-light;
}

.trade-label {
    fill: $overlay-text-colour;
    text-anchor: middle;
}

.trade-head {
    fill: $overlay-text-colour;
}

.trades {
    .link {
        fill: none;
    }
}

.tooltip-block {
    max-width: 30rem;
    text-align: left;
}

.block-block {
    display: flex;
    flex-direction: column;

    span {
        padding-bottom: $padding-third;
        font-style: italic;
    }
}

svg {
    .axis {
        pointer-events: none;
    }
}

.axis {
    .domain {
        display: none;
    }

    line {
        stroke: $primary-500;
    }

    text {
        font-style: italic;
        fill: $primary-100;
    }
}

////
//// Ship compare
////

.compass-arc,
.speed-circle {
    stroke: $primary-200;
}

.speed-text {
    user-select: none;
    fill: $primary-300;
}

.base-profile,
.comp-profile {
    opacity: 0.5;
}

.base-profile {
    fill: $primary-500;
}

.comp-profile {
    stroke-width: 3px;
    stroke: $secondary-800;
}

.column-base {
    background-color: $primary-050;
    font-variant-numeric: normal; // onum off
}

.column-comp {
    background-color: $secondary-050;
    font-variant-numeric: normal; // onum off
}

.block-small {
    padding: 0 $padding-third;
}

.row-small {
    @extend .small;
    padding: $padding-third 0;
}

.ship-base {
    .row-light {
        background-color: $primary-100;
    }
}

.ship-compare {
    .row-light {
        background-color: $secondary-100;
    }
}

////
//// Display ports
////

.port-name {
    font-size: x-large;
    @include caps();
    font-variant-numeric: normal;
}

.non-trading {
    font-style: italic;
}

.summary-des {
    @include caps();
    @include des();
    top: 0;
    color: $overlay-text-colour-contrast;
}

.bubble {
    fill-opacity: 0.7;
}

.both {
    fill: $blue;
}

.here {
    fill: $white;
}

.neg {
    fill: $red;
}

.pos {
    fill: $green;
}

.not-capturable {
    opacity: 0.6;
    fill: $gray-200;
}

.capital {
    opacity: 0.9;
}

.non-capital {
    opacity: 0.4;
}

.hidden {
    visibility: hidden;
}

.county,
.region {
    font-feature-settings: "c2sc", "smcp";
    fill: $secondary-900;
    text-anchor: middle;
}

.region {
    font-size: 160px;
    letter-spacing: 1rem;
}

.county {
    font-size: 60px;
    letter-spacing: 0.6rem;
}

.port-names {
    fill: $white;
}

.port {
    cursor: pointer;
}

////
//// Display pb zones
////

.pb {
    stroke-width: 0.5px;
    stroke-opacity: 1;
}

.pb-circle {
    fill: $primary-800;
}

.pb-text {
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 15%;
}

.pb-circle-text {
    fill: $primary-100;
}

.fort {
    fill: darken($red, 30);
}

.pb-fort-text {
    fill: lighten($red, 30);
}

.tower {
    fill: $secondary-900;
}

.pb-tower-text {
    fill: $secondary-100;
}

.raid-circle,
.raid-point {
    fill: $secondary-100;
}

.raid-circle-text {
    fill: $black;
}

.raid-point-text {
    font-size: 10%;
    fill: $black;
}

.raid-join-circle {
    fill: none;
    stroke: $secondary-300;
    stroke-width: 1px;
}

.pb-join-circle {
    @extend .raid-join-circle;
}

// capital ports
pattern > circle {
    fill: none;
    stroke: $white;
    stroke-opacity: 0.8;
    stroke-width: 4;
}

///
// svg classes
///

.f11,
.ingame-wind,
.journey,
.wind-predict {
    svg {
        overflow: auto;
    }

    circle {
        fill-opacity: 0.2;
    }

    path {
        fill: none;
        stroke-width: 0.3rem;
    }

    text {
        text-anchor: middle;
        dominant-baseline: central;
    }

    line {
        stroke-width: 0.1rem;
    }
}

.ingame-wind,
.wind-predict {
    circle {
        fill: color-yiq($overlay-background);
    }

    path {
        stroke: color-yiq($overlay-background);
    }

    rect {
        fill: $overlay-background;
    }

    text {
        fill: $overlay-text-colour;

        .des {
            fill: $overlay-background-colour !important;
        }
    }

    circle,
    line {
        stroke: $overlay-text-colour;
    }

    .text-light-separation {
        fill: $overlay-text-colour-contrast !important;
    }
}

.f11,
.journey {
    circle {
        fill: color-yiq($dark-overlay-background);
    }

    path {
        stroke: color-yiq($dark-overlay-background);
    }

    rect {
        fill: $dark-overlay-background;
    }

    text {
        fill: $dark-overlay-text-colour;

        .des {
            fill: $dark-overlay-background-colour !important;
        }
    }

    circle,
    line {
        stroke: $dark-overlay-text-colour;
    }

    .text-light-separation {
        fill: $dark-overlay-text-colour-contrast !important;
    }
}

.f11-coord {
    text-anchor: end !important;
}

.f11-time {
    text-anchor: start !important;
}

.f11 {
    circle {
        fill-opacity: 0.5;
    }
}

.journey {
    .label {
        fill-opacity: 1;

        circle {
            cursor: pointer;
            stroke: $dark-overlay-text-colour;
            fill-opacity: 1;
        }

        text {
            text-anchor: start;
        }

        .drag-hidden {
            fill-opacity: 0;
            stroke: none;
        }

        .drag-hidden.drag-active {
            stroke-width: 0;
        }
    }
}

.compass {
    circle,
    line {
        stroke-width: 0.1rem;
    }
}

.small {
    circle,
    line {
        stroke-width: 0.05rem;
    }

    path {
        stroke-width: 0.15rem;
    }
}

.wind-predict-arrow-head {
    fill: color-yiq($overlay-background);
}

.journey-arrow-head,
.trade-arrow-head {
    fill: color-yiq($dark-overlay-background);
}

$ship-outline-colour: $secondary-500;
.ship-outline {
    fill: $ship-outline-colour;
    stroke: $ship-outline-colour;
    stroke-width: 0.7rem;

    circle {
        cursor: pointer;
    }

    text {
        fill: color-yiq($ship-outline-colour);
    }
}

$wind-profile-colour: $overlay-text-colour;
.wind-profile-arrow-head {
    fill: $wind-profile-colour;
}

.wind-profile-arrow {
    opacity: 0.5;
    fill: $wind-profile-colour;
    stroke: $wind-profile-colour;
    stroke-width: 0.7rem;
}

.wind-profile {
    text {
        fill: color-yiq($wind-profile-colour);
    }
}

.ship-outline,
.wind-profile {
    text {
        font-size: small;
        pointer-events: none;
        stroke: none;
        text-anchor: middle;
        dominant-baseline: mathematical;
    }
}

.drag-active {
    stroke-width: 0.5rem;
}
