////
/// This file is part of na-map.
/// Display.
///
/// copyright 2017-18
/// license   http://www.gnu.org/licenses/gpl.html
/// @group    main
/// @author   iB aka Felix Victor
////

$background-colour: $primary-500;
$paddingHalf: map-get($spacers, 2);
$paddingThird: map-get($spacers, 1);

// opentype

body {
    font-variant-alternates: styleset(ss18); // (needs also calt)
    font-kerning: normal;
    font-variant-caps: normal;
    font-variant-ligatures: common-ligatures contextual; // liga calt
    font-variant-numeric: oldstyle-nums; // onum
}

table,
.page-link {
    font-variant-numeric: normal; // onum off
}

.fraction {
    font-variant-numeric: diagonal-fractions;
}

.super {
    font-variant-position: super;
    font-feature-settings: "sups";
}

@mixin caps {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.06em;
}

.caps,
.des {
    @include caps;
}

.des {
    position: relative;
    top: -0.4rem;
    font-size: small;
    color: $primary-700;
}

#na-svg {
    background-color: $background-colour;
}

.central {
    @include float-left;
    height: 0;
    width: 100%;
}

.overlay {
    z-index: $zindex-sticky;
}

text,
.overlay {
    cursor: default;
}

.port-summary,
.journey-summary {
    @include float-right;
    background: rgba($primary-100, 0.8);
    padding: $paddingHalf;

    .block {
        padding: $paddingHalf;
    }

    .des {
        top: 0;
    }

    button {
        margin-bottom: map-get($spacers, 2);
    }
}

.ports {
    .port-circles {
        circle.position {
            fill-opacity: 0.4;
            fill: $white;
        }
    }

    g.position path {
        fill: $green;
        fill-opacity: 0.6;
    }
}

.axis {
    line {
        stroke: $primary-600;
        opacity: 0.5;
    }

    text {
        font-style: italic;
        fill: $primary-700;
    }
}

.card {
    border: none;
}

.card-header {
    background-color: $secondary-200;
    border-bottom: none;
}

.card-body {
    background-color: $primary-100;
}

.table .table {
    background-color: $primary-200;
}

table tr,
p {
    text-align: left;
}

.table {
    thead th {
        font-weight: normal;
    }

    td {
        vertical-align: top;
        border-top: none;
    }
}

p a,
table a {
    text-decoration: underline dotted $secondary-600 !important;
    @include hover-focus {
        text-decoration-style: solid !important;
    }
}

.table-sm th,
.table-sm td {
    padding: $paddingThird/2;
    padding-left: 0;
}

.ship-base,
.ship-compare {
    .block {
        padding: 0 $paddingThird;
    }

    .small {
        padding: $paddingThird 0;
    }
}

.ship-base {
    .light {
        background-color: $primary-200;
    }
}

.ship-compare {
    .light {
        background-color: $secondary-200;
    }
}

.modules,
.ingredients,
.buildings .requirements {
    table {
        thead {
            background-color: $secondary-200;
        }

        td {
            padding-top: $paddingHalf;
            padding-bottom: $paddingHalf;
        }

        tbody tr:nth-of-type(odd) {
            background-color: $primary-300;
        }

        tbody tr:nth-of-type(even) {
            background-color: $primary-100;
        }

        .name {
            font-style: italic;
        }
    }
}

.buildings .requirements table {
    width: auto;

    th,
    td {
        padding-right: $paddingHalf;
    }

    td {
        text-align: right;
    }
}

.wood table tbody {
    td + td {
        text-align: right;
    }

    td:nth-child(1) {
        width: 50%;
    }

    td:nth-child(2) {
        width: 50%;
    }
}

.bubble {
    fill-opacity: 0.7;
}

.here {
    fill: $white;
}

.both {
    fill: $blue;
}

.pos {
    fill: $green;
}

.neg {
    fill: $red;
}

.gun-decks {
    height: 83px;
}

.badge {
    display: inline;
}

.mm {
    color: $red;
}

.pp {
    color: $green;
}

.profile {
    path.base,
    circle.base {
        opacity: 0.5;
        fill: $primary-500;
    }

    path.comp {
        opacity: 0.5;
        fill: none;
        stroke-width: 3px;
        stroke: $secondary-500;
    }

    .centroid-base {
        fill: $secondary-700;
    }

    .centroid-comp {
        fill: $primary-700;
    }
}

.columnA {
    background-color: $primary-100;
    font-variant-numeric: normal; // onum off
}

.columnC {
    background-color: $secondary-100;
    font-variant-numeric: normal; // onum off
}

.knots-circle {
    fill: none;
    stroke: $primary-500;
}

.knots-text {
    fill: $primary-600 !important;
}

.solidArc {
    transition: all 0.3s;

    &:hover {
        fill: orangered;
    }
}

.aster-score {
    line-height: 1em;
    text-anchor: middle;
    dominant-baseline: central;
}

.outlineArc {
    fill: none;
    stroke: $primary-200;
}

.profile {
    text {
        fill: $primary-900;
        text-anchor: middle;
    }
}

#input-toggle {
    display: flex;

    .item {
        padding-right: 1em;
    }
}

.extralarge-width {
    min-width: 25em;
}

.large-width {
    min-width: 18em;
}

.left-margin {
    margin-left: 15px;
}

.btn-outline-primary {
    color: $primary-600;
}

.btn-outline-secondary {
    color: $secondary-600;
}

.box {
    background-color: $primary-100;
}

.compass-arc path {
    stroke: $primary-500;
}

.coord {
    svg {
        overflow: auto;
    }

    circle {
        fill: $secondary-600;
        fill-opacity: 0.2;
    }

    text {
        fill: $secondary-800;
        text-anchor: middle;
        dominant-baseline: central;

        &.des {
            fill: $secondary-700 !important;
        }
    }

    rect {
        fill: rgba($primary-100, 0.8);
    }

    path {
        stroke: $secondary-600;
        stroke-width: 0.3rem;
        fill: none;
    }

    .label {
        text {
            text-anchor: start;
        }

        circle {
            fill-opacity: 1;
            cursor: pointer;
        }

        .drag-active {
            stroke: $secondary-100;
            stroke-width: 0.25rem;
        }

        .drag-hidden {
            fill-opacity: 0;
        }

        .drag-hidden.drag-active {
            stroke-width: 0;
        }
    }
}

.compass {
    circle,
    line {
        stroke: $secondary-400;
        stroke-width: 0.1rem;
    }

    text {
        fill: $secondary-600;
        font-weight: bold;
        text-anchor: middle;
        dominant-baseline: central;
    }
}

.small {
    circle,
    line {
        stroke: $secondary-400;
        stroke-width: 0.05rem;
    }
    path {
        stroke-width: 0.15rem;
    }
}

.port-names {
    fill: $white;
}

.port-name {
    font-size: x-large;
    @include caps;
}

.port circle {
    cursor: pointer;
}

.non-trading {
    font-style: italic;
}

.pb {
    fill-opacity: 0.6;
    stroke-width: 0.5px;
    stroke-opacity: 1;
}

.pb-circle {
    fill: $primary-300;
    stroke: $primary-600;
}

.fort {
    fill: darken($red, 20);
    stroke: darken($red, 20);
}

.tower {
    fill: $secondary-600;
    stroke: $secondary-600;
}

.join-circle {
    fill: $secondary-300;
    fill-opacity: 0.4;
    stroke: $secondary-500;
    stroke-width: 1px;
}

.label-rect {
    fill: transparent;
}

.f11,
.grid-background {
    line-height: 1;
    background-color: transparent;

    circle {
        fill: $secondary-600;
        fill-opacity: 0.5;
    }

    text {
        fill: $secondary-800;
        text-anchor: middle;
        dominant-baseline: central;

        &.des {
            fill: $secondary-700 !important;
        }
    }

    rect {
        fill: $primary-100;
        fill-opacity: 0.7;
    }

    path {
        stroke: $secondary-600;
        stroke-width: 0.3em;
        fill: none;
    }
}

.f11 {
    text {
        text-anchor: end;
    }
}

.grid-background {
    rect {
        fill: $primary-200;
        fill-opacity: 0.7;
    }
}

.summary text {
    text-anchor: start;
}

.course-head {
    fill: $secondary-600 !important;
}

.wind-head {
    fill: $secondary-600 !important;
}

.wind {
    stroke: $secondary-600 !important;
}

.wind,
.wind-text {
    text-anchor: middle !important;
}

.wind-text-current {
    font-size: smaller;
    fill: $secondary-600 !important;
}

.profile {
    line {
        stroke: $secondary-600;
        stroke-width: 0.5em;
        fill: none;
        opacity: 0.3;
    }
}

.tooltip {
    font-size: smaller;
    text-align: left;
    box-shadow: 0 14px 28px rgba($primary-900, 0.25), 0 10px 10px rgba($primary-900, 0.22);

    table {
        margin-bottom: 0;
    }
}

.tooltip-inner {
    min-width: 30rem;
}

.flag-icon {
    width: 2rem;
    height: 100%;
    margin-right: 0.4rem;
}

// contrast function
// https://lnikki.la/articles/sass-better-colour-based-on-brightness/

@function contrast-luma($c) {
    $-local-red: red(rgba($c, 1));
    $-local-green: green(rgba($c, 1));
    $-local-blue: blue(rgba($c, 1));

    @return (0.2126 * $-local-red + 0.7152 * $-local-green + 0.0722 * $-local-blue) / 255;
}

@function contrast-color($bg, $c1: $white, $c2: $primary-900) {
    $bg-luma: contrast-luma($bg);
    $c1-luma: contrast-luma($c1);
    $c2-luma: contrast-luma($c2);

    $c1-diff: abs($bg-luma - $c1-luma);
    $c2-diff: abs($bg-luma - $c2-luma);

    @if $c1-diff > $c2-diff {
        @return $c1;
    } @else {
        @return $c2;
    }
}

@mixin colour($colour) {
    color: contrast-color($colour);
    background-color: $colour;
}

.rate {
    display: flex;

    .bar {
        position: relative;
        top: 0;
        float: left;
        height: 1.618rem;
    }

    .basis {
        @include colour($primary-600);
    }

    .pos {
        @include colour($green);
    }

    .neg {
        @include colour($red);
    }

    .diff {
        opacity: 0.4;
    }
}

.county,
.region {
    font-feature-settings: "c2sc", "smcp";

    opacity: 0.7;
    fill: $primary-900;
    text-anchor: middle;
}

.region {
    letter-spacing: 1rem;
    font-size: 160px;
}

.county {
    letter-spacing: 0.6rem;
    font-size: 60px;
}

// https://stackoverflow.com/questions/44467377/bootstrap-4-multilevel-dropdown-inside-navigation/48953349#48953349
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.tablesort {
    th[role="columnheader"]:not(.no-sort) {
        cursor: pointer;
    }

    th[role="columnheader"]:not(.no-sort):after {
        content: "";
        float: right;
        margin-top: 7px;
        border-width: 0 4px 4px;
        border-style: solid;
        border-color: $primary-600 transparent;
        visibility: hidden;
        opacity: 0;
        user-select: none;
    }

    th[aria-sort="ascending"]:not(.no-sort):after {
        border-bottom: none;
        border-width: 4px 4px 0;
    }

    th[aria-sort]:not(.no-sort):after {
        visibility: visible;
        opacity: 0.4;
    }

    th[role="columnheader"]:not(.no-sort):hover:after {
        visibility: visible;
        opacity: 1;
    }
}

.hidden {
    visibility: hidden;
}

.timelines-chart {
    padding-bottom: 3rem;
    text-align: center;
    user-select: none;

    .axises {
        .x-axis,
        .x-grid,
        .y-axis,
        .grp-axis {
            font-family: $font-family-base !important;
        }

        line,
        path {
            stroke: $primary-700;
        }

        .x-axis {
            font-size: 12px;
        }

        .x-grid line {
            stroke: $primary-200;
        }

        .y-axis,
        .grp-axis {
            line,
            path {
                stroke: none;
            }

            text {
                fill: $primary-700;
            }
        }
    }

    .series-group {
        fill-opacity: 0.6;
        stroke: $primary-700;
        stroke-opacity: 0.2;
    }

    .series-segment {
        stroke: none;
    }

    .series-group,
    .series-segment {
        cursor: crosshair;
    }

    .legend {
        .legendText {
            fill: $body-color;
        }
    }

    .reset-zoom-btn {
        fill: $primary-600;
        opacity: 0.6;
        cursor: pointer;
    }
}

.brusher {
    .grid-background {
        fill: $primary-200;
    }

    .axis {
        font-family: $font-family-base !important;
        path {
            display: none;
        }
    }

    .tick text {
        text-anchor: middle;
    }

    .grid {
        line,
        path {
            stroke: $primary-100;
        }
    }
}

.chart-zoom-selection,
.brusher .brush .selection {
    stroke: $primary-700;
    stroke-opacity: 0.6;
    fill: $primary-700;
    fill-opacity: 0.3;
    shape-rendering: crispEdges;
}

.chart-tooltip {
    color: $body-color;
    background: $primary-200;
    padding: 5px;
    border-radius: 3px;
    font-size: 11px;
    z-index: 4000;

    &.group-tooltip {
        font-size: 14px;
    }

    &.line-tooltip {
        font-size: 13px;
    }

    &.group-tooltip,
    &.line-tooltip {
        font-weight: bold;
    }

    &.segment-tooltip {
        text-align: center;
    }
}

.area {
    .area-label {
        fill-opacity: 0.7;
        fill: $white;
    }

    path {
        stroke-opacity: 0.4;
        stroke: $white !important;
        stroke-width: 2px;
    }
}

.bootstrap-select > .dropdown-toggle.bs-placeholder {
    color: $navbar-light-color;
}

.dropdown-header {
    font-size: smaller;
}
