////
/// This file is part of na-map.
/// Display.
///
/// @group    scss
/// @author   iB aka Felix Victor
/// copyright Felix Victor 2017 to 2021
/// license   http://www.gnu.org/licenses/gpl.html
////

@import "mixins";

$background-map: $primary;
$dark-overlay-background-colour: $primary-800;
$dark-overlay-background-colour-contrast: $primary-700;
$dark-overlay-background: rgba($dark-overlay-background-colour, 0.8);
$dark-overlay-background-contrast: rgba($dark-overlay-background-colour-contrast, 0.8);
$dark-overlay-text-colour-contrast: $primary-200;
$dark-overlay-text-colour: color-contrast($dark-overlay-background);

$overlay-background-colour: $primary-200;
$overlay-background-colour-contrast: $primary-050;
$overlay-background: rgba($overlay-background-colour, 0.8);
$overlay-background-contrast: rgba($overlay-background-colour-contrast, 0.8);
$overlay-text-colour-contrast: $primary-700;
$overlay-text-colour: color-contrast($overlay-background);

.bg-map {
    background-color: $background-map;
}

text,
.map-tiles {
    cursor: default;
    user-select: none;
}

.des {
    @include des();
}

.caps,
.des {
    @include caps();
}

.overlay-des {
    @include caps();
    @include des();
    top: 0;
    color: $overlay-text-colour-contrast;
}

.text-lighter {
    color: $secondary-600;
}

.x-large {
    font-size: x-large;
}

.large {
    font-size: larger;
}

.tooltip-block {
    max-width: 30rem;
    text-align: left;
}

// capital ports
.circle-highlight {
    fill: none;
    stroke: $white;
    stroke-opacity: 0.8;
    stroke-width: 0.4rem;
}

.non-trading {
    font-style: italic;
}

.bubble {
    fill-opacity: 0.7;
}

.both {
    opacity: 0.4;
    fill: $blue;
}

.here {
    opacity: 0.4;
    fill: $white;
}

.neg {
    opacity: 0.4;
    fill: $red;
}

.pos {
    opacity: 0.4;
    fill: $green;
}

.cooldown {
    fill: $green-800;
}

.raider {
    fill: $orange-600;
}

.not-capturable {
    opacity: 0.6;
    fill: $gray-200;
}

.capital {
    opacity: 0.9;
}

.non-capital {
    opacity: 0.4;
}

.hidden {
    visibility: hidden;
}

.sub-title,
.title {
    font-weight: 300;
    font-stretch: condensed;
    font-feature-settings: "c2sc", "smcp";
    text-anchor: middle;
    text {
        fill: $primary-900;
    }
}

.title {
    font-size: 160px;
    letter-spacing: 0.5rem;
}

.sub-title {
    font-size: 60px;
    letter-spacing: 0.3rem;
}

.extra-large-width {
    min-width: 25em;
}

.large-width {
    min-width: 18em;
}

/////////////////////////////////////7
// tooltip

.tooltip {
    box-shadow: 0 14px 28px rgba($primary-900, 0.25), 0 10px 10px rgba($primary-900, 0.22);

    table {
        margin-bottom: 0;
    }
}

.tooltip-inner {
    min-width: 30rem;
    text-align: left;
}

.tooltip-inner-small {
    min-width: 20rem !important;
}

.tooltip-inner-smaller {
    min-width: 10rem !important;
    p {
        margin: 0;
    }
}

/////////////////////////////////////7
// table

tr:nth-of-type(even) {
    background-color: $primary-050;
}

.sort-table {
    thead th {
        cursor: s-resize;
        border-bottom-color: $white;
    }
}


/////////////////////////////////////7
// bar

.rate {
    display: flex;

    .bar {
        position: relative;
        top: 0;
        float: left;
        height: $spacer;
    }

    .basis {
        @include colour($primary-600);
    }

    .pos {
        @include colour($green-dark);
    }

    .neg {
        @include colour($red-dark);
    }

    .diff {
        opacity: 0.5;
    }
}

/*





p {
    text-align: left;
}

.input-group > label,
.nav-item > label {
    margin-bottom: unset;
}





.position {
    path {
        fill: $green;
        fill-opacity: 0.6;
    }
}

.blueprint {
    table {
        td + td {
            text-align: right;
        }
    }
}

.buildings .requirements {
    table {
        thead {
            background-color: $secondary-100;
        }

        tbody {
            tr:nth-of-type(odd) {
                background-color: $primary-100;
            }

            tr:nth-of-type(even) {
                background-color: $primary-050;
            }
        }

        .name {
            font-style: italic;
        }
    }
}

#input-toggle {
    display: flex;

    .item {
        padding-right: 1em;
    }
}

.left-margin {
    margin-left: 15px;
}

.box {
    background-color: $primary-100;
}

.summary text {
    text-anchor: start;
}



.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -$dropdown-spacer;
}

.area {
    .area-label {
        fill-opacity: 0.7;
    }

    path {
        stroke-opacity: 0.4;
        stroke: $white !important;
        stroke-width: 2px;
    }
}

////
//// Display pb zones
////

.pb {
    stroke-width: 0.5px;
    stroke-opacity: 1;
}

.pb-circle {
    fill: $primary-800;
}

.pb-text {
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 15%;
}

.pb-circle-text {
    fill: $primary-100;
}

.fort {
    fill: darken($red, 30);
}

.fort-range {
    fill: $red;
    fill-opacity: 0.2;
}

.pb-fort-text {
    fill: lighten($red, 30);
}

.tower {
    fill: $secondary-900;
}

.tower-range {
    fill: $secondary-200;
    fill-opacity: 0.3;
}

.pb-tower-text {
    fill: $secondary-100;
}

.raid-circle,
.raid-point {
    fill: $secondary-100;
}

.raid-circle-text {
    fill: $black;
}

.raid-point-text {
    font-size: 20%;
    fill: $black;
}

.raid-join-circle {
    fill: none;
    stroke: $secondary-300;
    stroke-width: 1px;
}

.pb-join-circle {
    @extend .raid-join-circle;
}


.f11-coord {
    text-anchor: end !important;
}

.f11-time {
    text-anchor: start !important;
}

.f11 {
    circle {
        fill-opacity: 0.5;
    }
}

.journey {
    .label {
        fill-opacity: 1;

        circle {
            cursor: pointer;
            stroke: $dark-overlay-text-colour;
            fill-opacity: 1;
        }

        text {
            text-anchor: start;
        }

    }
}

.compass {
    circle,
    line {
        stroke-width: 0.1rem;
    }
}

.small {
    circle,
    line {
        stroke-width: 0.05rem;
    }

    path {
        stroke-width: 0.15rem;
    }
}

.wind-predict-arrow-head {
    fill: color-yiq($overlay-background);
}

.journey-arrow-head,
.trade-arrow-head {
    fill: color-yiq($dark-overlay-background);
}

$ship-outline-colour: $secondary-500;
.ship-outline {
    fill: $ship-outline-colour;
    stroke: $ship-outline-colour;
    stroke-width: 0.7rem;

    circle {
        cursor: pointer;
    }

    text {
        fill: color-yiq($ship-outline-colour);
    }
}

$wind-profile-colour: $overlay-text-colour;
.wind-profile-arrow-head {
    fill: $wind-profile-colour;
}

.wind-profile-arrow {
    opacity: 0.5;
    fill: $wind-profile-colour;
    stroke: $wind-profile-colour;
    stroke-width: 0.7rem;
}

.wind-profile {
    text {
        fill: color-yiq($wind-profile-colour);
    }
}

.ship-outline,
.wind-profile {
    text {
        font-size: small;
        pointer-events: none;
        stroke: none;
        text-anchor: middle;
        dominant-baseline: mathematical;
    }
}

.drag-active {
    stroke-width: 0.5rem;
}



*/
