////
/// This file is part of na-map.
/// flag-icons definitions.
///
/// @group    scss
/// @author   iB aka Felix Victor
/// copyright Felix Victor 2017 to 2021
/// license   http://www.gnu.org/licenses/gpl.html
////

$icon-dir: "../images/flags";

.flag-icon {
    width: 6rem;
    margin-right: 0.4rem;
}

.flag-icon-small {
    width: 2rem;
    //margin-right: 0.4rem;
}

.flag-icon-border-light {
    border: 0.3rem solid transparentize($white, 0.2);
}

.flag-icon-border-middle {
    border: 0.3rem solid transparentize($yellow, 0.1);
}

$nations: "CN", "DE", "DK", "ES", "FR", "FT", "GB", "NT", "PL", "PR", "RU", "SE", "US", "VP";

@each $nation in $nations {
    .flag-icon-#{$nation} {
        display: inline-block;
        width: 1.3333rem;
        height: 1rem;
        vertical-align: baseline;
        background-image: url("#{$icon-dir}/#{$nation}.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
}
