////
/// This file is part of na-map.
/// Font definitions.
///
/// copyright 2018
/// license   http://www.gnu.org/licenses/gpl.html
/// @group    main
/// @author   iB aka Felix Victor
////

@import "junicode";

$font-family-serif: junicode, Big Caslon, Hoefler Text, Palatino, Cambria, Georgia, serif;
$font-family-base: $font-family-serif;
