////
/// This file is part of na-map.
/// icons definitions.
///
/// @group    scss
/// @author   iB aka Felix Victor
/// copyright Felix Victor 2017 to 2021
/// license   http://www.gnu.org/licenses/gpl.html
////

@use "sass:math";

$icon-dir: "../icons";

$icon-size: 24px;
$icon-size-large: math.round($icon-size * 1.2);

.icon {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    overflow: visible;
    vertical-align: middle;
    background-color: $body-color;
}

.icon-large {
    width: $icon-size-large;
    height: $icon-size-large;
}

.icon-light {
    background-color: $secondary-400;
}

.icon-navbar {
    background-color: $navbar-light-color;
}

.icon-button {
    i {
        background-color: $secondary-500;
    }
    &:hover {
        background-color: $secondary-100;
    }
}

.icon-outline-button {
    @extend .icon-button;
    border-width: 1.4px;
}

$icon-list: back bar-chart calendar chevron-bottom chevron-left chevron-right chevron-top clear clock clone-left
    clone-right close copy crew deep end faster forward gift gunnery hull image info labour map mast pb-list normal open
    options pause play sailing shallow slower start stop trading;

@each $icon in $icon-list {
    .icon-#{$icon} {
        mask-image: url("#{$icon-dir}/icon-#{$icon}.svg");
    }
}
