////
/// This file is part of na-map.
/// icons definitions.
///
/// @group    scss
/// @author   iB aka Felix Victor
/// copyright Felix Victor 2017 to 2021
/// license   http://www.gnu.org/licenses/gpl.html
////

@use "sass:math";

$icon-dir: "../icons";

$icon-size: 24px;
$icon-size-large: math.round($icon-size * 1.2);
$icon-size-small: math.round(math.div($icon-size, 1.3));

.icon {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    overflow: visible;
    vertical-align: middle;
    background-color: $body-color;
}

.icon-large {
    width: $icon-size-large;
    height: $icon-size-large;
}

.icon-small {
    width: $icon-size-small;
    height: $icon-size-small;
}

.icon-light {
    background-color: $secondary-400;
}

.icon-lighter {
    background-color: $paper-600;
}

.icon-navbar {
    background-color: $navbar-light-color;
}

.icon-menu-label {
    background-color: $paper-200;
}

.icon-menu {
    background-color: $secondary-500;
}

.icon-button {
    i {
        background-color: $secondary-500;
    }
    &:hover {
        background-color: $secondary-100;
    }
}

.icon-outline-button {
    @extend .icon-button;
    border-width: 1.4px;
}

$icon-list: admiralty back bar-chart building calendar cannon chevron-bottom chevron-left chevron-right
    chevron-top clear clock clone-left clone-right close copy deep end faster flag forward geo gift image income info
    ingame-wind ingredient journey labour loot map map-tools modules normal open options overview pause pb-list peace
    play position sailing shallow show-course show-f11 show-trades slower spreadsheet start stop trading war wind wood;

@each $icon in $icon-list {
    .icon-#{$icon} {
        // vendor prefix to avoid double entries (Firefox can also accept -webkit-mask-image)
        //noinspection Stylelint
        mask-image: url("#{$icon-dir}/icon-#{$icon}.svg");
    }
}
