////
/// This file is part of na-map.
/// Junicode font definitions.
///
/// copyright 2018
/// license   http://www.gnu.org/licenses/gpl.html
/// @group    main
/// @author   iB aka Felix Victor
////

$font-name: "Junicode" !default;
$font-path: "~Fonts/#{$font-name}/" !default;

$font-weight: 400 !default;
$font-weight-name: "regular" !default;

@font-face {
    font-family: "#{$font-name}";
    font-style: normal;
    font-weight: $font-weight;
    src: url("#{$font-path}#{$font-name}-#{$font-weight-name}.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "#{$font-name}";
    font-style: italic;
    font-weight: $font-weight;
    src: url("#{$font-path}#{$font-name}-#{$font-weight-name}-italic.woff2") format("woff2");
    font-display: swap;
}
