////
/// This file is part of na-map.
/// Junicode font definitions.
///
/// @group    scss
/// @author   iB aka Felix Victor
/// copyright Felix Victor 2017 to 2021
/// license   http://www.gnu.org/licenses/gpl.html
////

@use "sass:map";
@import "font-weight";

$font-name: "JuniusX";
$font-path: "../fonts/#{$font-name}/";

$font-list: (300 normal light condensed), (400 normal regular normal), (400 normal regular condensed);

@each $font-weight, $font-style, $font-weight-name, $font-stretch in $font-list {
    @font-face {
        font-family: "#{$font-name}";
        font-style: $font-style;
        font-weight: map.get($font-weights, $font-weight-name);
        font-stretch: $font-stretch;
        src: url("#{$font-path}#{$font-name}-#{$font-style}-#{$font-weight-name}-#{$font-stretch}.woff2")
            format("woff2");
        font-display: swap;
    }
}
