////
/// This file is part of na-map.
/// Junicode font definitions.
///
/// @group    scss
/// @author   iB aka Felix Victor
/// copyright Felix Victor 2017 to 2021
/// license   http://www.gnu.org/licenses/gpl.html
////

$font-name: "Junicode";
$font-path: "../fonts/#{$font-name}/";

$font-weight: 400;
$font-weight-name: regular;
$font-style: italic;
$font-stretch: normal;

@font-face {
    font-family: "#{$font-name}";
    font-style: $font-style;
    font-weight: $font-weight;
    src: url("#{$font-path}#{$font-name}-#{$font-style}-#{$font-weight-name}-#{$font-stretch}.woff2") format("woff2");
    font-display: swap;
}
