////
/// This file is part of na-map.
/// FMixins.
///
/// @group    scss
/// @author   iB aka Felix Victor
/// copyright Felix Victor 2017 to 2021
/// license   http://www.gnu.org/licenses/gpl.html
////

@mixin caps {
    font-variant-caps: all-small-caps;
    font-variant-numeric: oldstyle-nums proportional-nums;
    letter-spacing: 0.08em;
}

@mixin des {
    position: relative;
    top: -0.4rem;
    font-size: small;
    font-stretch: condensed;
}
