////
/// This file is part of na-map.
/// Colour palettes.
///
/// copyright 2017-18
/// license   http://www.gnu.org/licenses/gpl.html
/// @group    main
/// @author   iB aka Felix Victor
////

.colour-palette {
    margin-bottom: 1rem;

    .colour-slab {
        padding: 0.5rem 0.75rem;
    }

    .colour-slab-base {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 0.25rem;
    }

    @each $color, $value in $theme-colors {
        .#{$color} {
            color: color-yiq($value);
            background-color: $value;
        }
    }

    @each $color, $value in $colors {
        .#{$color} {
            color: color-yiq($value);
            background-color: $value;
        }
    }

    @each $color, $value in $foregrounds {
        .foreground-#{$color} {
            color: color-yiq($value);
            background-color: $value;
        }
    }

    @each $color, $value in $backgrounds {
        .background-#{$color} {
            color: color-yiq($value);
            background-color: $value;
        }
    }

    @each $color, $value in $primarys {
        .primary-#{$color} {
            color: color-yiq($value);
            background-color: $value;
        }
    }

    @each $color, $value in $secondarys {
        .secondary-#{$color} {
            color: color-yiq($value);
            background-color: $value;
        }
    }

    @each $color, $value in $grays {
        .gray-#{$color} {
            color: color-yiq($value);
            background-color: $value;
        }
    }
}
