////
/// This file is part of na-map.
/// svg.
///
/// @group    scss
/// @author   iB aka Felix Victor
/// copyright Felix Victor 2017 to 2021
/// license   http://www.gnu.org/licenses/gpl.html
////

@mixin svg-text-center {
    dominant-baseline: central;
    text-anchor: middle;
}

svg {
    stroke-width: 0.1rem;
    overflow: auto;
    text {
        pointer-events: none;
        user-select: none;
        stroke: none;
        text-anchor: start;
        dominant-baseline: mathematical;
    }
}

.empty-svg {
    fill: none;
    stroke: none;
}

.svg-text-light {
    text {
        fill: $white;
        stroke: none;
    }
}

.svg-text-dark-yellow {
    text {
        fill: $yellow-900;
    }
}

.svg-text-center {
    text {
        @include svg-text-center();
    }
}

.svg-text {
    .rect-background {
        opacity: 0.2;
    }
}

.svg-text-tiny {
    font-size: 15%;
}

.svg-stroke-light {
    circle,
    line,
    path,
    rect {
        fill: none;
        stroke: $white;
    }
}

.svg-stroke-thick {
    stroke-width: 0.4rem;
}

.svg-light {
    fill: $dark-overlay-text-colour-contrast;
    stroke: none;
}

.svg-dark {
    fill: $overlay-text-colour-contrast;
    stroke: none;
}

.svg-text-dark {
    text {
        fill: $overlay-text-colour-contrast;
        stroke: none;
        @include svg-text-center();
    }
}

.svg-stroke-dark {
    circle,
    line,
    path,
    rect {
        fill: none;
        stroke: $overlay-text-colour-contrast;
    }
}

.compass {
    circle {
        fill: $overlay-background-colour;
    }
}

.svg-background-light {
    path {
        stroke: $overlay-text-colour-contrast;
    }

    rect {
        fill: $overlay-background;
    }

    text {
        fill: $overlay-text-colour;
        .des {
            fill: $overlay-background-colour !important;
        }
    }

    circle,
    line {
        stroke: $overlay-text-colour;
    }

    .text-light-separation {
        font-size: smaller;
        fill: $overlay-text-colour-contrast !important;
    }
}

.svg-background-dark {
    path {
        stroke: $dark-overlay-text-colour-contrast;
    }

    rect {
        fill: $dark-overlay-background;
    }

    text {
        fill: $dark-overlay-text-colour;
        .des {
            fill: $dark-overlay-background-colour !important;
        }
    }

    circle,
    line {
        stroke: $dark-overlay-text-colour;
    }
}

.svg-background-yellow {
    opacity: 0.7;
    fill: $yellow-300;
}

.path-stroke-primary-light {
    stroke: $primary-300;
}

.path-fill-primary-light {
    fill: $primary-300;
}

.path-fill-primary-dark {
    fill: $primary-700;
}

.path-fill-red {
    fill: $red-600;
}

.path-fill-dark {
    fill: $primary-900;
}

.path-background-primary-light {
    fill-opacity: 0.3;
    fill: $primary-300;
}

.path-background-red {
    fill-opacity: 0.3;
    fill: $red-600;
}

.text-end {
    text-anchor: end;
}

.xf11,
.xingame-wind,
.xjourney,
.xwind-predict {
    svg {
        overflow: auto;
    }

    circle {
        fill-opacity: 0.2;
    }

    path {
        fill: none;
        stroke-width: 0.3rem;
    }

    text {
        text-anchor: middle;
        dominant-baseline: central;
    }

    line {
        stroke-width: 0.1rem;
    }
}

.xingame-wind,
.xwind-predict {
    circle {
        fill: color-yiq($overlay-background);
    }

    path {
        stroke: color-yiq($overlay-background);
    }

    rect {
        fill: $overlay-background;
    }

    text {
        fill: $overlay-text-colour;

        .des {
            fill: $overlay-background-colour !important;
        }
    }

    circle,
    line {
        stroke: $overlay-text-colour;
    }

    .text-light-separation {
        font-size: smaller;
        fill: $overlay-text-colour-contrast !important;
    }
}

.xf11,
.xjourney {
    circle {
        fill: color-contrast($dark-overlay-background);
    }

    path {
        stroke: color-contrast($dark-overlay-background);
    }

    rect {
        fill: $dark-overlay-background;
    }

    text {
        fill: $dark-overlay-text-colour;

        .des {
            fill: $dark-overlay-background-colour !important;
        }
    }

    circle,
    line {
        stroke: $dark-overlay-text-colour;
    }

    .text-light-separation {
        fill: $dark-overlay-text-colour-contrast !important;
    }
}

.click-circle {
    cursor: pointer;
}

.drag-circle {
    fill: $dark-overlay-text-colour-contrast;
    stroke: $dark-overlay-text-colour-contrast !important;
}

.drag-hidden {
    fill: $dark-overlay-text-colour-contrast;
    fill-opacity: 0;
    stroke: none !important;
}

.drag-active {
    filter: none;
    stroke: $orange !important;
    stroke-width: 4rem;
    stroke-opacity: 0.4;
}

.trade-link {
    fill: none;
    stroke: $dark-overlay-text-colour;
}

.highlight {
    stroke: $green-light;
}

.trade-label {
    fill: $overlay-text-colour;
    text-anchor: middle;
}

.trade-head {
    fill: $overlay-text-colour;
}

.trades {
    path,
    .link {
        fill: none;
    }
}

.axis {
    pointer-events: none;
    .domain {
        display: none;
    }

    line {
        stroke: $primary-400;
    }

    text {
        font-style: italic;
        fill: $primary-100;
        text-anchor: end;
    }
}

.voronoi {
    .cell {
        stroke: $white;
        stroke-width: 1px;
    }

    .label text {
        text-anchor: middle !important;
        fill: $white;
    }

    .label > .name {
        dominant-baseline: text-after-edge;
    }

    .label > .value {
        dominant-baseline: text-before-edge;
    }

    .hoverer {
        fill: transparent;
        stroke: $white;
        stroke-width: 0;
    }

    .hoverer:hover {
        stroke-width: 3px;
    }
}

.compass-arc,
.speed-circle {
    stroke: $paper-400;
}

.speed-text text {
    fill: $paper-500;
    dominant-baseline: auto;
}

.base-profile,
.comp-profile {
    opacity: 0.5;
}

.base-profile {
    fill: $paper-500;
}

.comp-profile {
    stroke-width: 3px;
    stroke: $secondary-800;
}
