////
/// This file is part of na-map.
/// Bootstrap variables.
///
/// copyright 2017-18
/// license   http://www.gnu.org/licenses/gpl.html
/// @group    main
/// @author   iB aka Felix Victor
////

// Options
$enable-rounded: false;
$enable-gradients: true;
$enable-hover-media-query: false;

// Spacing
$spacer: 1rem;
$spacers: (
    0: 0,
    1: (
        $spacer * 0.382
    ),
    2: (
        $spacer * 0.618
    ),
    3: $spacer,
    4: (
        $spacer * 1.618
    ),
    5: (
        $spacer * 2.618
    )
);

// Body
$body-bg: $background-100;
$body-color: $primary-800;
$yiq-text-dark: $primary-800;
//$yiq-text-light: $white !default;

// Navbar
$navbar-light-color:                $primary-700; // rgba($black, .5) !default;
$navbar-light-hover-color:          $primary-800; // rgba($black, .7) !default;
$navbar-light-active-color:         $primary-900; // rgba($black, .9) !default;
$navbar-light-disabled-color:       $primary-800; // rgba($black, .3) !default;

// Links
$link-color: $secondary-700;
$link-hover-color: $secondary-800;

// Grid columns
//$grid-columns: 12 !default;
//$grid-gutter-width: 30px !default;

$input-color: $body-color;
$input-group-addon-bg: $primary-100;
$input-border-color: $primary-400;
$input-border-radius: 0;

// Fonts
$font-size-base: 1.2rem;
$font-size-lg: map-get($spacers, 4);
$font-size-sm: map-get($spacers, 2) * 1.2;

$line-height-base: map-get($spacers, 4) / $font-size-base;

$h6-font-size: $font-size-base;
$h5-font-size: $h6-font-size + $font-size-base/$font-size-lg/2;
$h4-font-size: $font-size-lg;
$h3-font-size: $h4-font-size + $h6-font-size/2;
$h2-font-size: $h3-font-size + $h5-font-size/2;
$h1-font-size: $h2-font-size + $h4-font-size/2;

$lead-font-size: $font-size-lg;

// Tables
$table-hover-bg: $primary-100;
$table-border-color: $primary-200;

// Forms
$input-focus-border-color: $primary-200;
$input-focus-box-shadow: $primary-200;

// Tooltip
$tooltip-max-width: 40em;
$tooltip-color: $body-color;
$tooltip-bg: $primary-100;
$tooltip-opacity: 1;
$tooltip-padding-y: 1rem;
$tooltip-padding-x: 1rem;
//$tooltip-margin:              0 !default;

$tooltip-arrow-width: 0;
$tooltip-arrow-height: 0;

// Dropdown
$dropdown-link-hover-bg: $primary-100;

// Pagination
$pagination-color: $body-color;
$pagination-bg: $secondary-100;
$pagination-border-color: $pagination-bg;

$pagination-hover-color: $body-bg;
$pagination-hover-bg: $secondary-300;
$pagination-hover-border-color: $pagination-hover-bg;

$pagination-active-color: $pagination-hover-color;
$pagination-active-bg: $pagination-hover-bg;
$pagination-active-border-color: $pagination-active-bg;

$pagination-disabled-color: $foreground-500;
$pagination-disabled-bg: $pagination-bg;
$pagination-disabled-border-color: $pagination-bg;

// Modal
$modal-lg: 1200px;

// Badges
//$badge-font-size:                   90%;
$badge-font-weight: 400;
$badge-padding-y: 0.2rem;
//$badge-padding-x:                   .4rem !default;
//$badge-border-radius:               $border-radius !default;
//$badge-pill-padding-x:              .6em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
//$badge-pill-border-radius:          10rem !default;

// Work-around to avoid mangling from postcss-crass
$custom-radio-indicator-icon-checked: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IC00IDggOCI+PGNpcmNsZSByPSIzIiBmaWxsPSIjZjlmN2Y3Ii8+PC9zdmc+);
