////
/// This file is part of na-map.
/// Main.
///
/// copyright 2020
/// license   http://www.gnu.org/licenses/gpl.html
/// @group    game-tools
/// @author   iB aka Felix Victor
////

@import "pre-bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/modal";

@import "config";

.na-table {
    thead {
        background-color: $secondary-050;
    }

    thead th {
        cursor: s-resize;
        border-bottom-color: $white;
    }

    tbody {
        tr:nth-of-type(odd) {
            background-color: $primary-050;
        }
    }
}

.no-sort {
    thead th {
        cursor: default;
    }
}

.thead-group {
    th {
        font-style: initial !important;
        cursor: default !important;
    }
}

table tr {
    text-align: left;
}

.table-sm th,
.table-sm td {
    padding-bottom: 0.1rem;
}

.table {
    thead th {
        font-style: italic;
        font-weight: 400;
    }

    td {
        vertical-align: middle;
        border-top: none;
    }
}

.card-table {
    margin-bottom: 0;
    white-space: nowrap;
}

.card-header {
    background-color: $secondary-050;
}

.buildings .requirements table {
    width: auto;

    td {
        text-align: right;
    }
}

.wood table {
    thead {
        background-color: $secondary-100;
    }

    tbody {
        td + td {
            text-align: right;
        }

        td:nth-child(1) {
            width: 50%;
        }

        td:nth-child(2) {
            width: 50%;
        }
    }
}

.gun-decks {
    height: 83px;
}

.mm {
    color: $red;
}

.pp {
    color: $green;
}

.rate {
    display: flex;

    .bar {
        position: relative;
        top: 0;
        float: left;
        height: 1.618rem;
    }

    .basis {
        @include colour($primary-600);
    }

    .pos {
        @include colour($green-dark);
    }

    .neg {
        @include colour($red-dark);
    }

    .diff {
        opacity: 0.5;
    }
}

////
//// Ship compare
////

.compass-arc,
.speed-circle {
    stroke: $primary-200;
}

.speed-text {
    fill: $primary-300;
}

.base-profile,
.comp-profile {
    opacity: 0.5;
}

.base-profile {
    fill: $primary-500;
}

.comp-profile {
    stroke-width: 3px;
    stroke: $secondary-800;
}

.column-base {
    background-color: $primary-050;
    font-variant-numeric: normal; // onum off
}

.column-comp {
    background-color: $secondary-050;
    border-left: $white solid medium;
    font-variant-numeric: normal; // onum off
}

.ship-base {
    .row-light {
        background-color: $primary-100;
    }
}

.ship-compare {
    .row-light {
        background-color: $secondary-100;
    }
}

$padding-small: $padding-third / 1.618;
$padding-large: $padding-third;

.badge {
    padding-top: $padding-small;
}

.row-small {
    padding-bottom: $padding-small;
}

.compress {
    line-height: 0.9;
}

.col-compress {
    padding: $padding-large $padding-large 0;
    .des {
        top: -$padding-small / 2;
    }
}

.voronoi {
    .cell {
        stroke: $white;
        stroke-width: 1px;
    }

    .label {
        text-anchor: middle;
        fill: $white;
    }

    .label > .name {
        dominant-baseline: text-after-edge;
    }

    .label > .value {
        dominant-baseline: text-before-edge;
    }

    .hoverer {
        fill: transparent;
        stroke: $white;
        stroke-width: 0;
    }

    .hoverer:hover {
        stroke-width: 3px;
    }

    .legend-color {
        stroke-width: 1px;
        stroke: darkgrey;
    }
}
