$country-colour: #6b7377;
$bg-colour: #233d47;

$sat: saturation($bg-colour);
$lit: lightness($bg-colour);
$hue: hue($bg-colour);

$mix-weight: 20%;

@function colour-mixin($colour) {
  @return mix(hsl(hue($colour), $sat, $lit), $colour, $mix-weight);
}

$in-colour: colour-mixin(lighten($country-colour, 50%));
$out-colour: colour-mixin(lighten($country-colour, 30%));
$voronoi-colour: $in-colour;

.na-country {
  fill: $country-colour;
}

.background {
  fill: $bg-colour;
  pointer-events: all;
}

.na-port-in {
  fill: $in-colour;
  font-weight: 700;
}

.na-port-out {
  fill: $out-colour;
  font-size: smaller;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
  font-size: .9rem;
  line-height: 1.618rem;
}

text {
  pointer-events: none;
  text-anchor: start;
}

.label-rect {
  fill: transparent;
}

.voronoi {
  fill: none;
  stroke: $voronoi-colour;
  stroke-width: .5px;
}

table {
  max-width: 50rem;
  border-collapse: collapse;
}

tr:not(:last-of-type) {
  border-top: 1px solid $country-colour;
  border-bottom: 1px solid $country-colour;
}

td {
  vertical-align: top;
  &:not(:last-of-type) {
    padding-right: .5rem;
  }
}

.d3-tip {
  padding: .7rem;
  font-size: smaller;
  color: $in-colour;
  text-align: left;
  background: $bg-colour;
  box-shadow: 0 14px 28px rgba(colour-mixin(darken($bg-colour, 50%)),.25), 0 10px 10px rgba(colour-mixin(darken($bg-colour, 50%)),.22);
}
